/* Links page
   ========================================================================== */
/* Extends usage component found in assets/stylesheets/eos-custom-components/usage-example/ */
/* Variables file: assets/stylesheets/eos-pages/color-usage/color-usage.variables.scss */
.usage-example {
  .wrap {
    /* Links color */
    &.cerulean-white {
      border: 1px solid $eos-links-cerulean-white-border;
    }

    &.green-blue {
      background-color: $eos-links-green-blue-bg;
      color: $eos-links-green-blue-text;
    }

    &.yellow {
      background-color: $eos-links-yellow-bg;
      color: $eos-links-yellow-text;
    }

    &.dark-theme {
      background-color: $eos-links-dark-theme-bg;
      color: $eos-links-dark-theme-text;
    }
  }
}
