button.back-to-top.js-back-to-top.js-tooltip(data-toggle='tooltip', title='Back to top', aria-label='Back to top button')
  i.eos-icons-outlined.eos-36(aria-hidden='true')
    | keyboard_arrow_up
  span.sr-only
    | Back to top
