extends ../layouts/layout-main

block content
  article.container
    h1
      | Writing Guides
    p.subheadline
      | Learn the best way to communicate with users in a clear and consistent way.
    hr
    section
      .writing-mosaic
      .row
        .col-sm-4.margin-bottom-m
          .card.card-horizontal.clickable
            .card-content
              header
                span.d-block.h4
                  | Brand voice
                p
                  | Who we are is perceived in how we write: expert, adaptive, etc.
                br
              .writing-link-card.card-1
                span.sr-only
                  | Brand voice icon
            footer
              .d-flex.justify-content-end
                a.card-link.js-article-link(href='writing/brand-voice')
                  | Read more
        .col-sm-4.margin-bottom-m
          .card.card-horizontal.clickable
            .card-content
              header
                span.d-block.h4
                  | Brand tone
                p
                  | Our writing changes its tone according to different scenarios: success, error, etc.
              .writing-link-card.card-2
                span.sr-only
                  | Brand voice icon
            footer
              .d-flex.justify-content-end
                a.card-link.js-article-link(href='writing/brand-tone')
                  | Read more
        .col-sm-4.margin-bottom-m
          .card.card-horizontal.clickable.card-writing
            .card-content
              header
                span.d-block.h4
                  | UX writing
                p
                  | Every person writes in their own way. As a brand we should write consistently as well.
              .writing-link-card.card-3
                span.sr-only
                  | UX Writing icon
            footer
              .d-flex.justify-content-end
                a.card-link.js-article-link(href='writing/ux-writing')
                  | Read more
    hr
    h2.js-anchor.anchor
      | Conventions and rules
    p
      | In addition to learning about how to express our voice and tone
      | through proper UX writing, it is also important that we follow
      | certain #[a(href='/writing/conventions-and-rules', data-event-category='Internal link', data-event-action='conventions and rules', data-event-label='Writing Guides') conventions and rules]
      | in order for our writing to be seen as coming from a single entity.
    p
      | You'll find information such as capitialization rules for titles and
      | text as well as general conventions for punctuation.
