/* UX writing dark theme
   ========================================================================== */
.dark-theme {
  .ux-writing-examples {
    &.example-1 {
      background-image: url('/images/brand-voice/experts-not-bossy-dark.svg');
    }

    &.example-2 {
      background-image: url('/images/brand-voice/friendly-not-informal-dark.svg');
    }

    &.example-3 {
      background-image: url('/images/brand-voice/transparent-not-blunt-dark.svg');
    }

    &.example-4 {
      background-image: url('/images/brand-voice/adaptive-not-reckless-dark.svg');
    }
  }

}
