/* Icons UX Dark theme
   ========================================================================== */
.dark-theme {
  .icon-ux-example {
    &.icon-ux-with-label {
      background-image: url('/images/icons-ux/horizontal-nav-01-dark.png');
    }

    &.icon-ux-without-label {
      background-image: url('/images/icons-ux/horizontal-nav-02-dark.png');
    }

    &.icon-ux-with-tooltip {
      background-image: url('/images/icons-ux/tooltip-eg-dark.png');
    }

    &.icon-ux-spacing {
      background-image: url('/images/icons-ux/spacing-dark.png');
    }
  }

}
