extends ../../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Address format
        p.subheadline
          | The address format is an essential part of many forms. Billing information,
          |  Shipping information, Mailing information — all those forms require an address.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='forms-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Form element assets
          ul#forms-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Description
      ul.list-no-padding
        li
          | Always associate a label to every text field for good accessibility. Do not include a colon at the end of the label.
        li
          | Names of fields, hints, inputs and other parts of the form can vary based on
          | region. For eg US says ‘ZIP’, whereas, in Europe, it is a postal code.

        li
          | Pre-fill/auto-detect as much as you can. Auto-filling helps people fill out
          | forms 30% faster.

      .row.states-row.margin-top-xxl.js-showcase-component(name='addresses')
        .col-md-3.states-column
          strong.states-column-title
            | Element states
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              button.btn-showcase.js-element-id
                span.js-element-label
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code.language-markup(tabindex=0)
              code.language-html
