/* Toggle variables
   ========================================================================== */
/**
*
*  Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
*  Color variables: /assets/stylesheets/eos-base/variables/branding.scss
*
*/

$eos-toggle-off-color: $eos-bc-gray-300;
$eos-toggle-switch-padding-left: 50px;
$eos-toggle-border-radius: 15px;
$eos-toggle-height: 22px;
$eos-toggle-left: -50px;
$eos-toggle-top: 1px;
$eos-toggle-width: $eos-xxl - 8px;
$eos-toggle-circle-top: $eos-xs - 1;
$eos-toggle-circle-left: -$eos-xxl;
$eos-toggle-circle-width: 18px;
$eos-toggle-circle-height: 18px;
$eos-toggle-circle-translate: 18px;
$eos-toggle-circle-bg: $eos-bc-white;
$eos-toggle-selected-disabled: $eos-bc-green-100;
$eos-toggle-icon-disabled: $eos-bc-gray-100;
$eos-toggle-check-color: $eos-bc-pine-500;
$eos-toggle-close-color: $eos-bc-gray-900;
$eos-toggle-label-after-border-radius: 50%;
