/* Icons
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-pages/icon-guides/icons.variables.scss */

.icon-badge {
  background: $eos-icon-badge-bg;
  border-bottom-right-radius: $eos-icon-badge-radius;
  border-top-left-radius: $eos-icon-badge-radius;
  color: $eos-icon-badge-color;
  height: $eos-icon-badge-h-w;
  margin-right: $eos-icon-badge-margin;
  width: $eos-icon-badge-h-w;

  &:last-child {
    margin-right: 0;
  }

  .eos-icons-outlined {
    margin: $eos-icon-badge-icons-m;
    width: auto;
  }

  &.light {
    background: $eos-icon-badge-light-bg;
    border: $eos-icon-badge-light-border;
    color: $eos-icon-badge-light-color;
  }
}

.copy-icon-color {
  align-items: center;
  align-self: center;
  border-radius: $eos-copy-icon-color-radius;
  cursor: pointer;
  display: inline-flex;

  &:first-child {
    margin-right: $eos-copy-icon-color-m;
  }

  &.dark {
    background: $eos-copy-icon-color-dark-bg;
    border: 1px solid $eos-copy-icon-color-dark-bg;
    color: $eos-copy-icon-color-dark-color;

    span {
      border-right: $eos-copy-icon-color-dark-span;
    }
  }

  &.light {
    background: $eos-copy-icon-color-light-bg;
    border: $eos-copy-icon-color-light-border;

    span {
      border-right: $eos-copy-icon-color-light-span;
    }
  }

  span {
    margin: $eos-copy-icon-color-span-m;
    padding: $eos-copy-icon-color-span-p;
  }
}

.icon-colors {
  &.result.dark-bg, &.result.white-bg {
    padding: $eos-copy-icon-color-result-p;
    text-align: center;
    width: $eos-copy-icon-color-result-w;
  }
}

// Icon main page rules graphics
.icon-rules {
  background-repeat: no-repeat;
  background-size: contain;

  &.rule-1 {
    background-image: url('../images/icons/icon-rules-1.svg');
    height: $eos-icon-rules-1-height;
    width: $eos-icon-rules-1-width;
  }

  &.rule-2 {
    background-image: url('../images/icons/icon-rules-2.svg');
    height: $eos-icon-rules-2-height;
    width: $eos-icon-rules-2-width;
  }

  &.rule-3 {
    background-image: url('../images/icons/icon-rules-3.svg');
    height: $eos-icon-rules-3-height;
    width: $eos-icon-rules-3-width;
  }
}


// Search icons section
.icons-filter {
  align-self: flex-end;
  display: flex;
  margin-bottom: $eos-xxl;
}


.eos-icons-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  .eos-icon-wrap {
    align-items: center;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 300;
    margin: $eos-s;
    overflow: hidden;
    padding: $eos-s;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    i {
      font-size: $eos-xxl;
      margin-right: -$eos-s;
      z-index: 0;
    }

    span {
      font-size: $eos-space-base;
      z-index: 0;
    }
  }

  .no-icons-found {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: $eos-xxl 0;
    width: 100%;
  }
}

.install-fonts-img  img {
  width: 100%;
}
