block new-password-form
  .sign-in-form
    h1
      | Set your new password
    form.margin-top-xl(action='/examples/demo-sign-in.html')
      .form-group
        label(for='password') New password
        input#password.form-control(type='password')
      .form-group
        label(for='new-password') Confirm password
        input#new-password.form-control(type='password')
      button.btn.btn-primary.btn-block.margin-top-xxl(role='button', href='#') Save
    .form-links.margin-top-xxl
      a.js-demo-link.js-dark-theme-links(href='#')
        | Sign in
