/* Lists
   ========================================================================== */
/*
 * Colors variables: /assets/stylesheets/eos-base/variables/spacing.scss
*/
$eos-li-padding: $eos-s 0 $eos-s;
$eos-no-list-style-ul-padding-top: $eos-s;
$eos-no-list-style-li-a-padding-left: $eos-xl;
$eos-ul-horizontal-li-margin-right: $eos-m;
$eos-ol-li-padding-left: $eos-m;
$eos-ol-li-fa-margin-right: $eos-s;
$eos-media-screen-ul-padding-left: $eos-xs;
$eos-list-sd-max: $eos-sd-max;
$eos-list-dt-width: 20%;
$eos-list-dt-width: 80%;
