/* ==========================================================================
	Design specs (internal)
  ========================================================================== */
.design-specs {
  width: $eos-design-specs-section-width;
}

/* ==========================================================================
  Report icons page
  ========================================================================== */
.report-full-width {
  @media screen and (min-width: $eos-md-min) {
    min-width: $eos-report-full-width-width;
    width: auto;
  }
}
