extends ../layouts/layout-main

block content
  article.container
    h1
      | Icon UX

    p.subheadline
      | Icons serve as an effective visual aid and are also useful to save space on the screen. Done correctly,
      | icons can help guide users intuitively through a workflow without relying on too much copy.
    hr
    p
      | Eye tracking research has shown that users scan from the left in a vertical movement. In order for icons to serve as a visual scanning aid,
      | users need to see them before they see the button label. Placing them to the left of a label allows users to see the icon first.
      | If you place icons to the right of your label, users read the label first and therefore the icon serves no purpose other than decoration.

    p
      | For clearer usability, always use labels with abstract or unfamiliar icons.
    hr.transparent
    h2.js-anchor.anchor
      | Best practices
    .row
      .col-md-3.col-12
        h3.js-anchor.anchor
          | Position
        p
          | Place icons before labels in order for users to see them first.
      .col-md-9.col-12
        .do-dont-container.do-dont-container-full-width
          .do-column
            .do-dont-title
              span.d-block.h6
                i.eos-icons-outlined.eos-18(aria-hidden='true')
                  | check_circle
                span.sr-only
                  | Do column
                | Do
            .do-dont-content
              ul
                li
                  strong
                    | Icon with label
                  .icon-ux-example.icon-ux-with-label.margin-top-m
                    span.sr-only
                      | Icons with labels
                li
                  strong
                    | Only icon
                  .icon-ux-example.icon-ux-without-label.margin-top-m
                    span.sr-only
                      | Horizontal list of icons without labels
    section.margin-top-xxxl
      .row
        .col-md-3.col-12
          p
            | Align the icon vertically with the label heading, instead of centering it with the heading and body.
        .col-md-9.col-12
          .do-dont-container.do-dont-container-full-width
            .col-md-6.col-12.do-column
              .do-dont-title
                span.d-block.h6
                  i.eos-icons-outlined.eos-18(aria-hidden='true')
                    | check_circle
                  span.sr-only
                    | Do column
                  | Do
              .do-dont-content.icons-ux-alignment
                i.eos-icons-outlined.eos-24
                  | dashboard
                .vertical-content
                  h4
                    | Heading
                  p
                    | Quisque cursus ipsum a magna euismod. vel maximus augue efficitur Mauris finibus erat.

            .col-md-6.col-12.dont-column
              .do-dont-title
                span.d-block.h6
                  i.eos-icons-outlined.eos-18(aria-hidden='true')
                    | cancel
                  span.sr-only
                    | Don't column
                  | Don't
              .do-dont-content.icons-ux-alignment
                i.eos-icons-outlined.eos-24.vertical-align-icon
                  | dashboard
                .vertical-content
                  h4
                    | Heading
                  p
                    | Quisque cursus ipsum a magna euismod. vel maximus augue efficitur Mauris finibus erat.
    section.margin-top-xxxl
      .row
        .col-md-3.col-12
          p
            | Always place icons before the link text, to the left.
        .col-md-9.col-12
          .do-dont-container.do-dont-container-full-width
            .col-md-6.col-12.do-column
              .do-dont-title
                span.d-block.h6
                  i.eos-icons-outlined.eos-18(aria-hidden='true')
                    | check_circle
                  span.sr-only
                    | Do column
                  | Do
              .do-dont-content.link-text-icon
                a.js-demo-link(href='#')
                  i.eos-icons-outlined.eos-18(aria-hidden='true')
                    | open_in_new
                  span.sr-only
                    | Opens in a new tab
                  | Alerts design specifications
                p
                  | go to the #[a.js-demo-link(href='#') #[i.eos-icons-outlined.eos-18(aria-hidden='true') open_in_new]#[span.sr-only Opens in a new tab] subscriptions page ]
                  | and renew the subscriptions.
            .col-md-6.col-12.dont-column
              .do-dont-title
                span.d-block.h6
                  i.eos-icons-outlined.eos-18(aria-hidden='true')
                    | cancel
                  span.sr-only
                    | Don't column
                  | Don't
              .do-dont-content.link-text-icon
                a.js-demo-link(href='#')
                  | Alerts design specifications
                  i.eos-icons-outlined.eos-18(aria-hidden='true')
                    | open_in_new
                  span.sr-only
                    | Opens in a new tab
                p
                  | go to the #[a.js-demo-link(href='#') subscriptions page #[i.eos-icons-outlined.eos-18(aria-hidden='true') open_in_new]#[span.sr-only Opens in a new tab]]
                  | and renew the subscriptions.
    section.margin-top-xxxl
      .row
        .col-md-3.col-12
          p
            | When placing icons inside the buttons always place them left of the text.
        .col-md-9.col-12
          .do-dont-container.do-dont-container-full-width
            .col-md-6.col-12.do-column
              .do-dont-title
                span.d-block.h6
                  i.eos-icons-outlined.eos-18(aria-hidden='true')
                    | check_circle
                  span.sr-only
                    | Do column
                  | Do
              .do-dont-content
                button.btn.btn-secondary
                  i.eos-icons-outlined.eos-18
                    | cached
                  |  Button
                br
                button.btn.btn-primary.margin-top-m
                  i.eos-icons-outlined.eos-18
                    | edit
                  |  Button
            .col-md-6.col-12.dont-column
              .do-dont-title
                span.d-block.h6
                  i.eos-icons-outlined.eos-18(aria-hidden='true')
                    |
                  | Don't
              .do-dont-content
                button.btn.btn-secondary
                  | Button
                  i.eos-icons-outlined.eos-18
                    | cached
                br
                button.btn.btn-primary.margin-top-m
                  i.eos-icons-outlined.eos-18.icon-center
                    | edit
                  br
                  | Button
    hr.transparent
    section.row
      .col-md-3.col-12
        h4
          | Spacing
        p
          | Icons should be separated by 8px of space or more to prevent users from activating the wrong icon and invoking the wrong action.
      .col-md-9.col-12
        .do-dont-container.do-dont-container-full-width
          .do-column
            .do-dont-title
              span.d-block.h6
                i.eos-icons-outlined.eos-18(aria-hidden='true')
                  | check_circle
                span.sr-only
                  | Do column
                | Do
            .do-dont-content
              .icon-ux-example.icon-ux-spacing.margin-top-m
                span.sr-only
                  | Icon spacing example
    hr.transparent
    section.row
      .col-md-3.col-12
        h4
          | Tooltip
        p
          | Use a tooltip if an icon has no label and needs some short explanation. For example, toolbar controls and command buttons without labels should have tooltips.
      .col-md-9.col-12
        .do-dont-container.do-dont-container-full-width
          .do-column
            .do-dont-title
              span.d-block.h6
                i.eos-icons-outlined.eos-18(aria-hidden='true')
                  | check_circle
                span.sr-only
                  | Do column
                | Do
            .do-dont-content
              .icon-ux-example.icon-ux-with-tooltip.margin-top-m
                span.sr-only
                  | Icons with tooltip
    hr.transparent
