extends ../layouts/layout-main

block content
  article.container
    h1
      | Installation

    p.subheadline
      | Download the latest copy of our computer-specific files. You’ll need them to be able to work with your desired design software.
    hr
    section
      h2.js-anchor.anchor
        | 2 ways of installing icons

    section
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#icons-install-computer', aria-controls='icon-sizes-examples', role='tab', data-toggle='tab')
            | On your computer
        li.nav-item(role='presentation')
          a.nav-link(href='#icons-install-application', aria-controls='icon-sizes-css-snippet', role='tab', data-toggle='tab')
            | In your application
      .tab-content
        #icons-install-computer.tab-pane.active(role='tabpanel')
          h2.js-anchor.anchor
            | Download icons
          p
            | The iconic font is ready to be used on your computer. Adding it to your designs is now very easy with our
            | ligature-based font files. We’ve also included optimized vector SVG files of each separate icon.
          p
            | Download he latest copy of our computer-specific files. You’ll need them to be able to work with your desired design software.
          a.btn.btn-secondary(href='https://registry.npmjs.org/eos-icons/-/eos-icons-5.3.1.tgz')
            | Download iconic font
          h2.js-anchor.anchor.margin-top-xxl
            | What’s included in the package?
          p
            | Once you’ve downloaded the icon font package, you’ll need to uncompress it. If you’re a Windows user, you’ll need to use a free tool
            | such as 7-Zip to be able to do it. Once uncompressed, you’ll find several folders. The ones relevant for designers are the following:
          table.table.eos-table.margin-top-xxl(aria-label='What’s included in the package table')
            thead
              tr
                th(scope='col')
                  | Folders
                th(scope='col')
                  | What are they
            tbody
              tr
                td
                  | #[code dist/fonts/]
                td
                  | Ligature-based font files in different formats (.eot, .woff, .woff2, .svg & .ttf).
              tr
                td
                  | #[code /svg]
                td
                  | Optimized individual SVG vector files.
          h2.js-anchor.anchor.margin-top-xxl
            | Installing the ligature-based font files
          p
            | Inside the the #[code fonts/] folder, you’ll find both outlined and solid (used in SUSE products) themes of the icon font in several font formats:
          table.table.eos-table.margin-top-xxl(aria-label='What’s included in the package table')
            thead
              tr
                th(scope='col')
                  | Font-files
                th(scope='col')
                  | Direct download
            tbody
              tr
                td
                  | #[code dist/fonts/eos-icons.eot]
                td
                  a(href='https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons.eot')
                    | https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons.eot
              tr
                td
                  | #[code dist/fonts/eos-icons.ttf]
                td
                  a(href='https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons.ttf')
                    | https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons.ttf
              tr
                td
                  | #[code dist/fonts/eos-icons.woff]
                td
                  a(href='https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons.woff')
                    | https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons.woff
              tr
                td
                  | #[code dist/fonts/eos-icons.woff2]
                td
                  a(href='https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons.woff2')
                    | https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons.woff2
              tr
                td
                  | #[code dist/fonts/eos-icons-outlined.eot]
                td
                  a(href='https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons-outlined.eot')
                    | https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons-outlined.eot
              tr
                td
                  | #[code dist/fonts/eos-icons-outlined.ttf]
                td
                  a(href='https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons-outlined.ttf')
                    | https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons-outlined.ttf
              tr
                td
                  | #[code dist/fonts/eos-icons-outlined.woff]
                td
                  a(href='https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons-outlined.woff')
                    | https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons-outlined.woff
              tr
                td
                  | #[code dist/fonts/eos-icons-outlined.woff2]
                td
                  a(href='https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons-outlined.woff2')
                    | https://cdn.jsdelivr.net/npm/eos-icons/dist/fonts/eos-icons-outlined.woff2
          p.margin-top-xxl
            | To install the fonts on your computer, you’ll need to use the font manager tool provided by your operative system. For Macs, the default tool is Font Book:
          .row.margin-top-xl
            .col-12.col-sm-12.col-md-8
              .figure-wrap.text-center.install-fonts-img
                .m-0
                  img(src='/images/icons/install-fonts.gif', alt='Install icon fonts')
          h2.js-anchor.anchor.margin-top-xxl
            | Using icons in your favourite design tool
          p
            | Once you’ve installed the font, you’re ready to use icons in your designs. You need to choose either "eos-icons"
            | or "eos-icons-outlined" font and type the ligature for the icon you want to use. We have a cheatsheet with all
            | the ligatures which can be found
            | #[a(href='/icons', data-event-category='Internal link', data-event-action='Icons ', data-event-label='Icons link', rel='noreferrer nonopener') here].
          .row.margin-top-xl
            .col-12.col-sm-12.col-md-8
              .figure-wrap.text-center.install-fonts-img
                .m-0
                  img(src='/images/icons/icons-design-tool.gif', alt='Icons design tool')

        #icons-install-application.tab-pane(role='tabpanel')
          h2.js-anchor.anchor
            | Install iconic font
          p
            | There are several options for you to use icons in your product:
          h5.js-anchor.anchor.margin-top-xl
            | Installing the npm
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code(tabindex=0)
              template.js-code-template
                | npm install eos-icons --save
              code.js-code-render.language-scss
          h5.js-anchor.anchor.margin-top-xl
            | Using the CDN
          p
            | Outlined icons (Outline):
            | #[a(href='https://cdn.jsdelivr.net/npm/eos-icons@latest/dist/css/outlined/eos-icons-outlined.css', data-event-category='External link', data-event-action='Outlined icons', data-event-label='Outlined icons', rel='noreferrer nonopener') https://cdn.jsdelivr.net/npm/eos-icons@latest/dist/css/outlined/eos-icons-outlined.css].
          p
            | Add one of the following lines in your #[code head] tag as #[code link:css] according to which theme you want to import:
          h6.js-anchor.anchor.margin-top-m
            | Outlined icons
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code(tabindex=0)
              template.js-code-template
                | <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/eos-icons@latest/dist/css/outlined/eos-icons-outlined.css' />
              code.js-code-render.language-scss
          h5.js-anchor.anchor.margin-top-xl
            | Installing the Ruby gem
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code(tabindex=0)
              template.js-code-template
                | gem install eos-icons-font
              code.js-code-render.language-scss
          p
            | Add the following directive to your application: #[code *= require eos-icons-font].
          h2.js-anchor.anchor.margin-top-xxl
            | Using icons in your projects
          p
            | Just like in any other iconic font, you need to add the Fonts and CSS files in your project:
          p
            |  1- Add the eos-icons-outlined.css file available under the dist/css folder into your project's
            | #[code head]. (*) If you're using the CDN, you can skip this step.
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code(tabindex=0)
              template.js-code-template
                | <link rel='stylesheet' href='eos-icons-outlined.css'/>
              code.js-code-render.language-scss
          p
            | 2- Make sure the fonts folder available at #[code dist/fonts] is placed at the same location as your #[code eos-icons-outlined.css] file
            | so the fonts can be read correctly. (*) If you're using the CDN, you can skip this step.
          ul.no-list-style
            li.pb-0.pt-0
              | #[strong - index.html]
            li.pb-0.pt-0
              | #[strong - eos-icons.css]
            li.pb-0.pt-0
              | #[strong - fonts/...]
          p
            | 3- Use the icons in your html as follows:
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code(tabindex=0)
              template.js-code-template
                | <i class='eos-icons-outlined'>LIGATURE_OF_THE_ICON</i>
              code.js-code-render.language-scss
          p
            | Where the LIGATURE_OF_THE_ICON is the name of the icon. Go to the home page to see the all icons' names.
          h2.js-anchor.anchor.margin-top-xxl
            | Using Animated icons
          p
            | The animated icons are built using SMIL SVG animations. To implement them you don't need anything special, just an #[code img] tag with the src to the svg. For example:
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code(tabindex=0)
              template.js-code-template
                | <img src='loading'/>
              code.js-code-render.language-scss
  section.articles-gallery
    .container
      .row
        .col-sm-8
          h2.js-anchor.anchor.title-no-margings
            | Other articles in this guide
      .ag-carousel.js-ag-carousel
        .card.card-horizontal.clickable
          .card-content
            div
              span.d-block.h4
                | Icon UX
              p
                | A guide to using icons consistently inside the main UI elements.
              br
          span.card-icon(aria-hidden='true')
            i.eos-icons-outlined.eos-18
              | library_books
          footer
            .d-flex.justify-content-end
              a.card-link.js-article-link(href='/icons/icon-ux')
                | Read more
        .card.card-horizontal.clickable
          .card-content
            div
              span.d-block.h4
                | Logo icon set
              p
                | Third-party logos which integrate consistently with the iconic font.
              br
          span.card-icon(aria-hidden='true')
            i.eos-icons-outlined.eos-18
              | library_books
          footer
            .d-flex.justify-content-end
              a.card-link.js-article-link(href='/icons/logo-icons-set')
                | Read more
