extends ../layouts/layout-main

block content
  article.container
    section.row
      .col
        h1
          | Icons
        p.subheadline
          | Using icons consistently across products reduces the
          | learning curve and reinforces brand awareness.
    hr
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Icon sets
      p
        | SUSE's iconic font (named internally "EOS Icons") is a handcrafted iconic font designed using the
        | #[a(href='https://material.io/design/iconography/#icons-system-icons', data-event-category='External link', data-event-action='Material design link', data-event-label='Icons', target='_blank', rel='noreferrer nonopener') #[i.eos-icons-outlined.eos-18.icon-reset(aria-hidde='true') open_in_new] #[span.sr-only Opens in a new tab]Material Design]
        | iconography guidelines.
        | It has been designed to cover the needs of SUSE's cutting edge software solutions. It uses ligatures and is downloadable as an open source project in
        | #[a(href='https://gitlab.com/SUSE-UIUX/eos-icons', data-event-category='External link', data-event-action='EOS icons Gitlab', data-event-label='Icons', target='_blank', rel='noreferrer nonopener') #[i.eos-icons-outlined.eos-18.icon-reset open_in_new] #[span.sr-only Opens in a new tab]Gitlab].

    section.margin-top-xxl
      h2.js-anchor.anchor
        | Outlined icons
      p
        | Using the outlined theme is of high importance to staying in line with SUSE's brand which uses
        | art-line graphical elements to communicate a more modern look following the Infinity design principle.

    section.margin-top-xxl
      h2.js-anchor.anchor
        | Icon sizes
      .d-flex.justify-content-center.margin-bottom-xl
        .icon-badge.d-flex.flex-column.justify-content-center.align-items-center
          i.eos-icons-outlined.eos-48(aria-hidden='true')
            | master
          | 48px
        .icon-badge.d-flex.flex-column.justify-content-center.align-items-center
          i.eos-icons-outlined.eos-36(aria-hidden='true')
            | master
          | 36px
        .icon-badge.d-flex.flex-column.justify-content-center.align-items-center
          i.eos-icons-outlined.eos-24(aria-hidden='true')
            | master
          | 24px
        .icon-badge.d-flex.flex-column.justify-content-center.align-items-center
          i.eos-icons-outlined.eos-18(aria-hidden='true')
            | master
          | 18px
      p
        | The iconic font has been designed to work and look
        | perfect at: 18px, 24px, 36px, and 48px. These are the recommended
        | sizes for icons in all #{config.brand} UIs.
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#icon-sizes-examples', aria-controls='icon-sizes-examples', role='tab', data-toggle='tab')
            | Implementation examples
        li.nav-item(role='presentation')
          a.nav-link(href='#icon-sizes-css-snippet', aria-controls='icon-sizes-css-snippet', role='tab', data-toggle='tab')
            | SCSS code snippet
      .tab-content
        #icon-sizes-examples.tab-pane.active(role='tabpanel')
          .implementation-example.icons-sizes-examples
            .result
              i.eos-icons-outlined.eos-18(aria-hidden='true')
                | face
              i.eos-icons-outlined.eos-24(aria-hidden='true')
                | face
              i.eos-icons-outlined.eos-36(aria-hidden='true')
                | face
              i.eos-icons-outlined.eos-48(aria-hidden='true')
                | face
            .css-snippet-container
              .scss-snippet-btns
                button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
              pre.js-snippet-code(tabindex=0)
                template.js-code-template
                  | <i class='eos-icons-outlined eos-18'>face</i>
                  | <i class='eos-icons-outlined eos-24'>face</i>
                  | <i class='eos-icons-outlined eos-36'>face</i>
                  | <i class='eos-icons-outlined eos-48'>face</i>
                code.js-code-render.language-html
        #icon-sizes-css-snippet.tab-pane(role='tabpanel')
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
              a.js-tooltip(href='https://suse.eosdesignsystem.com/stylesheets/elements/icons/icons.variables.scss', target='_blank', rel='noreferrer nonopener', data-toggle='tooltip', title='Get SCSS variables')
                i.eos-icons-outlined.eos-18(aria-hidden='true')
                  | launch
            pre.js-snippet-code(tabindex=0)
              template.js-code-template
                | /* Sizing variables */
                | $eos-18: 18px;
                | $eos-24: 24px;
                | $eos-36: 36px;
                | $eos-48: 48px;
                | /* Rules for sizing the icon. */
                | .eos-18 { font-size: $eos-18; }
                | .eos-24 { font-size: $eos-24; }
                | .eos-36 { font-size: $eos-36; }
                | .eos-48 { font-size: $eos-48; }
              code.js-code-render.language-scss
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Icon colors
      .d-flex.justify-content-center.margin-bottom-xl
        button.copy-icon-color.dark.js-cc(data-clipboard-text='#FFFFFF // $eos-bc-white')
          span
            | #FFFFFF
          i.eos-icons-outlined.eos-18(aria-hidden='true')
            | content_copy
          span.sr-only
            | Copy code to clipboard
        .icon-badge.d-flex.flex-column.justify-content-center.align-items-center
          i.eos-icons-outlined.eos-48(aria-hidden='true')
            | critical_bug
          span.sr-only
            | White icon over dark background
        .icon-badge.light.d-flex.flex-column.justify-content-center.align-items-center
          i.eos-icons-outlined.eos-dark.eos-48(aria-hidden='true')
            | critical_bug
          span.sr-only
            | Dark icon over white background
        button.copy-icon-color.light.js-cc(data-clipboard-text='#141823 // $eos-bc-gray-1000')
          span
            | #141823
          i.eos-icons-outlined.eos-dark.eos-18(aria-hidden='true')
            | content_copy
          span.sr-only
            | Copy code to clipboard
      p
        | Icon usage in  #{config.brand} UIs comes down to chosing between 2 colors, dark gray
        | and white, when placed on a light or dark background, respectively.
      p
        | For inactive states, icons are slightly transparent.
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#icon-colors-examples', aria-controls='icon-colors-examples', role='tab', data-toggle='tab')
            | Implementation examples
      .tab-content
        #icon-colors-examples.tab-pane.active(role='tabpanel')
          .implementation-example
            .d-flex
              .d-flex.flex-column.justify-content-center.align-items-center.margin-right-xl
                .icon-colors.result.white-bg
                  i.eos-icons-outlined.eos-dark.icon-reset(aria-hidden='true')
                    | face
                small
                  | Dark icon
              .d-flex.flex-column.justify-content-center.align-items-center.margin-right-xl
                .icon-colors.result.dark-bg
                  i.eos-icons-outlined.eos-light.icon-reset(aria-hidden='true')
                    | face
                small
                  | Light icon
              .d-flex.flex-column.justify-content-center.align-items-center.margin-right-xl
                .icon-colors.result.dark-bg
                  i.eos-icons-outlined.eos-light.eos-inactive.icon-reset(aria-hidden='true')
                    | face
                small
                  | Light inactive
              .d-flex.flex-column.justify-content-center.align-items-center
                i.eos-icons-outlined.eos-dark.eos-inactive.icon-reset(aria-hidden='true')
                  | face
                small
                  | Dark inactive
            .css-snippet-container
              .scss-snippet-btns
                button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
              pre.js-snippet-code(tabindex=0)
                template.js-code-template
                  | <i class='eos-icons-outlined eos-dark'>face</i>
                  | <i class='eos-icons-outlined eos-light'>face</i>
                  | <i class='eos-icons-outlined eos-light eos-inactive'>face</i>
                  | <i class='eos-icons-outlined eos-dark eos-inactive'>face</i>
                code.js-code-render.language-html
      p
        small
          | * Note that by default all icons will inherit the text color of
          | its parent container (#[code $eos-bc-gray-1000] being the default text color).
          | More info at: #[a(href='/colors', data-event-category='Internal link', data-event-action='color guide', data-event-label='Icons') color guide.]
      p
        | #[small * The usage of #[code .eos-dark] and #[code .eos-light] is only relevant in special use cases.]
  section.articles-gallery
    .container
      .row
        .col-sm-8
          h2.js-anchor.anchor.title-no-margings
            | Other articles in this guide
      .ag-carousel.js-ag-carousel
        .card.card-horizontal.clickable
          .card-content
            div
              span.d-block.h4
                | Icon UX
              p
                | A guide to using icons consistently inside the main UI elements.
              br
          span.card-icon(aria-hidden='true')
            i.eos-icons-outlined.eos-18
              | library_books
          footer
            .d-flex.justify-content-end
              a.card-link.js-article-link(href='/icons/icon-ux')
                | Read more
        .card.card-horizontal.clickable
          .card-content
            div
              span.d-block.h4
                | Logo icon set
              p
                | Third-party logos which integrate consistently with the iconic font.
              br
          span.card-icon(aria-hidden='true')
            i.eos-icons-outlined.eos-18
              | library_books
          footer
            .d-flex.justify-content-end
              a.card-link.js-article-link(href='/icons/logo-icons-set')
                | Read more
