extends ../layouts/layout-main

block content
  article.container.js-abbreviationController
    h1
      | Date & time
    p.subheadline
      | Date and time help users to arrange data by chronological order.
      |There are various ways of displaying date and time but it should be clear and understandable to the user.
    hr
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Formats
      p
        | Date and time are hard to interpret because not all users live in the same timezone or
        | country. That’s why it is important to display date and time in a friendly format.
      p
        | Use 24-hour clock format for time and written date formate for date.
      ul.list-no-padding
        li
          | #[strong Time:] 18:30
        li
          | #[strong Date:] 17 February 2019
        li
          | #[strong Date and time:] 26 January 2019, 15:00
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Date and Time range
      p
        | Separate ranges with an en-dash without a space.
      ul.list-no-padding
        li
          | #[strong Year:] 1 March 2018–2 April 2019
        li
          | #[strong Date:] 18-20 January 2019

        li
          | #[strong Time:] 11:30-15:50
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Abbreviations
      p
        | Use abbreviations when space is limited.
      ul.list-no-padding
        li
          | #[strong Date:] 8 Jan 2019
        li
          | #[strong Date and time:] 8 May 2019, 11:00
        li
          | #[strong Year range:] 1 Mar 2017–2 Apr 2018
        li
          | #[strong Date range:] 18-20 Jan 2019
      p
        | #[strong *Note:] When documenting sources using MLA style, the months with four or fewer letters, e.g.
        | #[strong May, June,] and #[strong July]
        | are not abbreviated, the remaining months
        | #[strong Jan, Feb, Mar, Apr, Aug, Sept, Oct, Nov] and #[strong Dec]
        |  are abbreviated.
      p
        strong
          | Abbreviation of months in different languages.
        .table-responsive.margin-top-xl
          table.table.table-bordered.js-abbreviation-table(aria-label='Months abbreviation table')
            tr.js-abbreviation-month-list
              th.js-abbreviation-country-name.abbreviation-country-name.fixed-column(scope='row')
              td.js-abbreviation-month-name
