/* Steps progress bar variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-spb-color: $eos-bc-white;
$eos-spb-after: $eos-bc-gray-300;
$eos-spb-wrapper-title: $eos-bc-gray-900;
$eos-spb-wrapper-background-span: $eos-bc-gray-300;
$eos-spb-circle-color: $eos-bc-blue-500;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-spb-after-height: $eos-xs - 2;
$eos-spb-after-bottom: 20px;
$eos-spb-after-bottom-selected: 27px;
$eos-spb-wrapper-size: $eos-xxl + 2;
$eos-spb-wrapper-size-selectred: $eos-xxxl - 2;
$eos-spb-wrapper-size-span: $eos-xl - 4;
$eos-spb-wrapper-selected-size: $eos-xxl - 8;
$eos-spb-size: $eos-xxl + 2;
$eos-spb-wrapper-span-margin-top: $eos-xs;
$eos-spb-wrapper-after-left: 50%;
$eos-spb-z-index: $eos-zindex-negative;
$eos-spb-li-width: 25%;
$eos-spb-span-border-radius: 50%;
$eos-spb-steps-wrapper-left: -50%;
$eos-spb-steps-wrapper-width: 100%;

