extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-12
        h1
          | Theme
        p.subheadline
          | Themes are used to customize component styles by applying a set of colors. This page will guide you through the
          |  process of enabling light or dark themes in the application.
    hr
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Available themes
      p
        | SUSE's Design System provides two prebuilt themes:
      ul.list-no-padding
        li
          | Light Theme
        li
          | Dark Theme
        p
          | The light theme is the default theme of the  design system.
    section.margin-top-xxl
      h2.js-anchor.anchor
        | How to install a theme
      p
        | Install the design system in your project either by using the #[a(href='/installing-npm', data-event-category='Interal link', data-event-action='NPM package', data-event-label='installing-npm', rel='noreferrer nonopener') NPM package]
        | or including the #[a(href='/using-cdn', data-event-category='Interal link', data-event-action='CDN link', data-event-label='using-cdn', rel='noreferrer nonopener') CDN link].
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Themes implementation
      p
        | In order to implement the dark theme you need to inject the #[code dark-theme] class in the document's #[code body] tag. It will require to use Javascript or front-end language of your choice. This functionality is not
        | available in the NPM package. You can use any of the 2 UIs provided below to enable users of your application to switch between themes.
      .css-snippet-container
        strong
          | Example
        script.language-markup(type='text/plain')
          | <body class="dark-theme">
          |   <!-- rest of the code -->
          | </body>

    section.margin-top-xxl
      h2.js-anchor.anchor
        | UI implementation in SUSE products
      p
        | Implement a theme switch in SUSE products by using one (or both) of the following options.
      .row.states-row.margin-top-l.js-showcase-component(name='theme')
        .col-md-3.states-column
          strong.states-column-title
            | Table types
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              button.btn-showcase.js-element-id
                span.js-element-label
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box-full.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code.language-markup
              code.language-html
