extends ../layouts/layout-main

block content
  article.container
    h1
      | Using the CDN
    p.subheadline
      | Embed the Design System's assets directly from our CDN.
    hr
    section.margin-top-xxl
      p
        | Copy and paste the CSS stylesheet or logotype svg  from these code snippets
        | directly into your project.
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Stylesheet
      p
        | Add one of the following lines in your #[code head] tag as #[code link:css]:
      .css-snippet-container
        .scss-snippet-btns
          button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
            i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
              | content_copy
        pre.js-snippet-code(tabindex=0)
          template.js-code-template
            | <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/eos-ds/dist/css/eos-style.css' />
          code.js-code-render.language-html
    section.margin-top-xxl
      h2.js-anchor.anchor
        | SUSE logo
      p
        | You can also find the SUSE logo in the CDN:
      .css-snippet-container
        .scss-snippet-btns
          button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
            i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
              | content_copy
        pre.js-snippet-code(tabindex=0)
          template.js-code-template
            | <img src='https://cdn.jsdelivr.net/npm/eos-ds@2.5.1/dist/images/suse-logo.svg' alt='SUSE logotype'>
          code.js-code-render.language-html
