extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Cards
        p.subheadline
          | Cards are flexible containers used to wrap content related to a singular subject. Cards can have actions of their own, images, tabulated data, and more.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='cards-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Card assets
          ul#cards-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xl
      h2.js-anchor.anchor
        | Description
      ul.list-no-padding
        li
          | By default, cards will take 100% of the available width. To restrict their size you can use the classes #[code w-25], #[code w-50], #[code w-75], which make the cards take 25%, 50%, or 75% of the horizontal space.

      .row.states-row.margin-top-xxl.js-showcase-component(name='cards')
        .col-md-3.states-column
          strong.states-column-title
            | Cards types
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              button.btn-showcase.js-element-id
                span.js-element-label
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box-full.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code.language-markup(tabindex=0)
              code.language-html
