extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Accessibility
        p.subheadline
          | Make sure that the information presented in an alert is important enough to justify taking away the user’s attention from
          | what they are doing (ie. errors, warnings, validations, etc.).
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='alerts-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Alerts assets
          ul#alerts-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xxl.section-alerts-demo
      .row
        .col-md-12
          h2.js-anchor.anchor
            | General
          ul.list-no-padding
            li
              | Use the #[code role='alert'] attribute when defining the alert. It should only be used when the user needs
              | immediate attention due to its intrusive nature.
            li
              | The WAI-ARIA #[code role='alert'] is equivalent to #[code aria-live='assertive']. Screen readers are notified immediately
              | of the error so the user can take action to address the issue.
            li
              | When an alert is present in the screen on load time (i.e. the alert isn't a response to a user's action),
              | it should use the #[code aria-live='polite'] attribute to avoid disrupting the order in which the elements are presented on the screen.
              | This does not apply to danger alerts though, since critical alerts should always come first.
            li
              | The close button contains the #[code aria-label='close'] attibute and the icon uses #[code aria-hidden='true']
              | so it is ignored by assistive technologies. The danger alert does not include a button since it's not dismissable.
    section.margin-top-xxl.section-alerts-demo
      .row
        .col-md-12
          h2.js-anchor.anchor
            | Considerations
          ul.list-no-padding
            li
              | Ensure that the close button is included in the tabbing order and the alert can be navigated to and
              | dismissed with the keyboard. The
            li
              | Make sure colour and icons aren't the only way information is conveyed.
    include ../shared/accessibility/checklist.pug
