extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Inline alerts
        p.subheadline
          | Inline alerts are used to notify a user of the status of an action within a component when the action is triggered in real time.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='alerts-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Alerts assets
          ul#alerts-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xxl.section-alerts-demo
      .row
        .col-md-7
          h2.js-anchor.anchor
            | Description
          ul.list-no-padding
            li
              | They are often triggered in response to an action by the user.
            li
              | Inline alerts are positioned within the area or form they relate to.
            li
              | Alerts of high importance (warning or danger) should not close automatically, until the situation has been resolved.
        .col-md-5
          .alerts-demo-graphic.inline-alert-graphic
            .sr-only
              | Inline alert position graphic

    section.margin-top-xl.global-alerts-demo
      .row.states-row.margin-top-xxl.js-showcase-component(name='alerts-inline')
        .col-md-3.states-column
          strong.states-column-title
            | Alerts types
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              button.btn-showcase.js-element-id
                span.js-element-label
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box-full.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code.language-markup(tabindex=0)
              code.language-html
