/* A11Y checklist dark theme
   ========================================================================== */

.dark-theme {
  .a11y-checklist-component {
    .card .card-header-clickable {
      color: $a11y-dark-theme-btn;
    }
  }
}
