/* UX writing component variables
   ========================================================================== */
/**
* Colors and borders
*
* Meaningful colors: /assets/stylesheets/eos-base/variables/branding.scss
* Main colors: /assets/stylesheets/eos-base/variables/shadows.scss
*/
$eos-ux-writing-before: $eos-color-danger;
$eos-ux-writing-after: $eos-color-success;
$eos-ux-writing-pyramid-text-color: $eos-bc-white;
$eos-ux-writing-examples-width: 50%;
