extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Badges
        p.subheadline
          | Badges are used to highlight important changes of state in an element,
          | mark them, or draw attention to counters.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='badges-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Badge assets
          ul#badges-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xl
      h2.js-anchor.anchor
        | Description
      ul.list-no-padding
        li
          | Use badges to highlight or differentiate key elements. However,
          | do it with caution. Drawing attention to many pieces may result
          | in creating much noise.
        li
          | Badges are good for counters, for example, to show the number of new messages.
        li
          | Badges should not provide interaction. However, its parent element may.
        li
          | Don't use long texts within a badge. Whenever possible, limit it to a
          | maximum of 3 words or less.

    section.margin-top-xl.global-alerts-demo
      .row.states-row.margin-top-xxl.js-showcase-component(name='badge')
        .col-md-3.states-column
          strong.states-column-title
            | Badge types
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              button.btn-showcase.js-element-id
                span.js-element-label
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box-full.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code.language-markup(tabindex=0)
              code.language-html
