/* Dashboard writing dark-theme styles
   ========================================================================== */
.dark-theme {
  .writing-mosaic {
    background-image: $eos-da-w-writing-mosaic-bg-dark;
  }

  .writing-link-card {
    &.card-1 {
      background-image: url('../images/dashboard-writing/microphone-dark.svg');
    }

    &.card-2 {
      background-image: url('../images/dashboard-writing/volume-dark.svg');
    }

    &.card-3 {
      background-image: url('../images/dashboard-writing/pencil-dark.svg');
    }
  }

}
