/* Tabs
   ========================================================================== */
/**
* The following rules override the default look of Bootstrap's tabs
*
* Variables file: assets/stylesheets/eos-custom-components/tabs/tabs.variables.scss
*/
.tab-content {
  border-bottom: 1px solid $eos-tabs-border-color;
  border-left: 1px solid $eos-tabs-border-color;
  border-right: 1px solid $eos-tabs-border-color;
  display: block;
  padding: $eos-tabs-content-padding;
}

.nav {
  border-left: 1px solid $eos-tabs-border-color;
  border-right: 1px solid $eos-tabs-border-color;
  margin-top: $eos-tabs-margin-top;

  li {
    background: $eos-tabs-inactive-bg;
    padding: 0;

    .nav-link {
      border-radius: 0;
      border-top: 3px solid transparent;
      color: $eos-tabs-text-color;
      line-height: $eos-tabs-li-line-height;

      &.active {
        background: $eos-tabs-active-bg;
        border-top: 3px solid $eos-tabs-active-border-color;
        color: $eos-tabs-text-color;
      }

      &.disabled {
        color: $eos-tabs-disabled-color;
      }
    }
  }
}

.vertical-tabs {
  border: 1px solid $eos-tabs-border-color;

  .nav {
    border: 0;
    margin-top: 0;
    width: $eos-tabs-vertical-nav-width;

    li .nav-link {
      border-left: 3px solid transparent;
      border-top: 0;
      padding: $eos-tabs-vertical-nav-link-padding;

      &.active {
        border-left: 3px solid $eos-tabs-active-border-color;
        border-top: 0;
      }

      
    }
  }

  .tab-content {
    border: 0;
    width: $eos-tabs-vertical-content-width;
  }
}

.secondary-tab {
  border: 0;

  li {
    background: $eos-tabs-active-bg;
 
    .nav-link {
      background: $eos-tabs-active-bg;
      border-top: 0;

      &.active {
        border-bottom: 3px solid $eos-tabs-active-border-color;
        border-top: 0;
      }
    }
  }
}

.secondary-tab-content {
  border: 0;
  border-top: 1px solid $eos-secondary-tab-content-border-color;
}
