/* Icon display
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-icon-display-background: $eos-bc-white;
$eos-icon-display-text-color: $eos-bc-gray-1000;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-icon-display-width: 30%;
$eos-icon-display-margin-right: 10px;
$eos-icon-icon-name-margin-top: $eos-m;
$eos-icon-display-border-hover: 1px solid $eos-bc-gray-100;
$eos-icon-display-border: 1px solid transparent;
