/* Feature container dark theme
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/feature-container/feature-container.variables.scss */
.dark-theme {
  .feature-container {
    background: $eos-feature-container-dark-theme-bg;
  }
}
