/* Focus
   ========================================================================== */
// Text inputs
.form-control, .form-control-file, .custom-select {
  &:focus {
    border-color: transparent;
    box-shadow: 0 1px 0 $eos-global-focus;
    outline: none;
  }
}

// Special custom styled form elements
.eos-radio-btn:focus ~ .form-check-label::before, .eos-checkbox:focus ~ .form-check-label::before, .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
  outline: $eos-global-focus solid 1px;
}

// Range focus styles
input[type='range'] {
  &:focus {
    box-shadow: none;
    outline: none;

    &::-webkit-slider-thumb {
      border-color: $eos-global-focus;
    }

    &::-moz-range-thumb {
      border-color: $eos-global-focus;
    }

    &::-ms-thumb {
      border-color: $eos-global-focus;
    }
  }
}

// main menu focus style for dropdown submenu
.menu-dropdown input[type='checkbox'] {
  &:focus {
    ~ .menu-title {
      box-shadow: none;
      outline: $eos-global-focus solid 1px;
    }
  }
}

// for the demo page
.demo-focus {
  outline: $eos-global-focus solid 1px;
}

// General focus & some custom classes
*, .custom-multiple-select, .text-area, .btn-unstyled, .pagination .page-link, .card.clickable {
  &:focus {
    box-shadow: none;
    outline: $eos-global-focus solid 1px;
  }
}


