.brand-container
  block sign-in-logo
    div
      img(src='/images/sign-in-page/suse-logo-light.svg', alt='Suse logo')
  div.margin-bottom-xxl
    img(src='/images/sign-in-page/sign-in-lock-1.svg', alt='Sign in lock design')
    block info
      .info
        h1
          | SUSE
          br
          | Customer Center
        p
          | Discover a new way of managing your SUSE account and subscriptions via one
          | interface, anytime, anywhere.
  div
    block sign-in-cookies
      p
        | This site saves some information in cookies but only when
        | strictly necessary - #[a.js-demo-link.link-light(href='#') Learn more].
    .margin-top-l
      img.margin-right-m(src='/images/sign-in-page/social-media.svg', alt='social-media icons')
