
extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Accessibility
        p.subheadline
          | While all elements and components distributed within the Design System are thoroughly tested and WCAG 2.1 compliant, there will be times when you will need to make your own color choices for custom components. This guideline will help you keep those choices accessible.
      .col-md-3
        include shared/colors-dropdown.pug
    hr
    section
      h2.js-anchor.anchor
        | Color contrast

      p
        | Accessibility ensures that our applications are empathetic and inclusive of all different abilities including, but not limited to, visual limitations.
      p
        | When choosing colors, take into account the contrast ratio between the foreground to the background color. The W3C created guidelines for this purpose (WCAG 2.1). These require that text uses adequate contrast for visually impaired people.

      p
        | The WCAG 2.1 Level AA requires a contrast ratio of at least 4.5:1 for normal text (14px) and 3:1 for larger text (~18px). Tools like #[a(href='http://contrast-ratio.com/#%23fff-on-%2330ba78', data-event-category='External link', data-event-action='Contrast ratio link', data-event-label='Colors/usage', target='_blank', rel='noreferrer nonopener') contrast-ratio.com]
        | will help you check the contrast ratio between two colors.

      h3.js-anchor.anchor.margin-top-xxl
        | Color contrast in components
      p
        | Components don’t need to comply with AA standards for color contrast (4.5:1), but text does. This means that if you have a light gray button background with a contast ratio of 2:1, but a text within it has a color contrast ratio between its background and the text color of at least 4.5:1, the button is accessible as it turns out the success criteria for buttons doesn’t require a visual boundary indicating the hit area.

      .margin-top-xl.margin-bottom-xl.color-accessibility-cases.case-1
        span.sr-only
          | Case study: color contrast tests in components

      p
        | This success criteria also means that icons within buttons with a text label don’t have a contrast requirement as long as the text color meets the 4.5:1 contrast ratio. However, if an icon is without a text label, the 3:1 contrast ratio requirement applies to the icon.

      .margin-top-xl.margin-bottom-xl.color-accessibility-cases.case-2
        span.sr-only
          | Case study: color contrast tests in components with icons

      p
        | To learn more about how to use icons in accessible components, go to the #[a(href='/icons/accessibility') accessibility] page for icons.

      h4.js-anchor.anchor
        | Disabled components
      p
        | Color contrast rules do not apply to disabled components using the appropriate #[code disabled] attribute. Assistive technology will successfully skip all disabled components.

    section.margin-top-xxl
      h2.js-anchor.anchor
        | Conveying information successfully

      p
        | Colors should not be used as the only visual means to convey information, indicate a state, or distinguish an element. If you’re using color differences to convey information you need an extra cue, however, if you’re using lightness and darkness to convey information, you don’t need an extra cue, as long as the contrast difference is high enough.

      p
        | For example, in the following example the toggle component conveys its state only trough color hue. As you can see in the graphic, 3 different types of color blindness will hardly recognize the difference between active and innactive states.

      .margin-top-xl.margin-bottom-xl.color-accessibility-cases.case-3
        span.sr-only
          | Case study: color as the only way to convey state

      p
        | To make this component accessible we must consider using contrast as a differenciator or use a visual indication:

      .margin-top-xl.margin-bottom-xl.color-accessibility-cases.case-4
        span.sr-only
          | Case study: using visual indications to convey changes in states

      p
        | A tipical example where color is assigned meaning is error states on form fields. Red is often used to indicate an error in an input field. However, using red is not enough to indicate the error state because color blind users won’t see the difference. The red would appear black to them. You need to add an extra cue, such as text or an icon, to indicate the error state.

      .margin-top-xl.margin-bottom-xl.color-accessibility-cases.case-5
        span.sr-only
          | Case study: using additional indications to convey different states

    section.margin-top-xxl
      h2.js-anchor.anchor
        | Color blindness simulators

      p
        | Our design system delivers accessible tested components with usage guidelines and recommendations, however, there will be times when applications will require to build and design their own components. For these scenarios, it is important that you consider all the points mentioned above, as well as our guidelines for a11y. Additionally, to ensure the correct usage of colors and contrast, we recommend using Color blindness simulators that will enable you to experience the impact or the color choices you make.

      ul
        li
          strong Chrome extension: #[a(href='https://chrome.google.com/webstore/detail/colorblindly/floniaahmccleoclneebhhmnjgdfijgg/') https://chrome.google.com/webstore/detail/colorblindly/floniaahmccleoclneebhhmnjgdfijgg/]
        li
          strong Firefox built-in accessibility
          p
            | The simulator included in the Accessibility Inspector in Firefox Developer Tools allows to test what applications look like to users with various forms of color vision deficiency, as well as contrast sensitivity loss.
          img.margin-top-xl.margin-bottom-xl(src='/images/colors/a11y/firefox-a11y.png', alt='Case study: using additional indications to convey different states')
