extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Contrast table
        p.subheadline
          | Our contrast table will help designers to select beautiful and accessible color combinations based on WCAG
          | guidelines of text and background contrast ratios.
      .col-md-3
        include shared/colors-dropdown.pug
    hr

    section.row.margin-top-xxl
      .col-md-6
        ul.no-list-style.contrast-table
          li.contrast-table-heading
            | All colors against white
          li.contrast-table-subheading
            span
            span
              strong
                | Background
            span.contrast-ratios
            span
              strong
                | Text color
          li.bc-green
            span.color-name
              | green-100
            span.color-bg.color-100
              | Sample
            span.contrast-ratios.fail
              | 1.12
            span.color-text.color-text-100
              | Sample
          li.bc-green
            span.color-name
              | green-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.fail
              | 2.49
            span.color-text.color-text-500
              | Sample
          li.bc-green
            span.color-name
              | green-900
            span.color-bg.color-900
              | Sample
            span.contrast-ratios.pass
              | 5.16
            span.color-text.color-text-900
              | Sample
          li.bc-pine
            span.color-name
              | pine-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.pass
              | 13.92
            span.color-text.color-text-500
              | Sample
          li.bc-cerulean
            span.color-name
              | cerulean-100
            span.color-bg.color-100
              | Sample
            span.contrast-ratios.fail
              | 1.32
            span.color-text.color-text-100
              | Sample
          li.bc-cerulean
            span.color-name
              | cerulean-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.fail
              | 2.48
            span.color-text.color-text-500
              | Sample
          li.bc-cerulean
            span.color-name
              | cerulean-900
            span.color-bg.color-900
              | Sample
            span.contrast-ratios.fail
              | 3.79
            span.color-text.color-text-900
              | Sample
          li.bc-yellow
            span.color-name
              | yellow-100
            span.color-bg.color-100
              | Sample
            span.contrast-ratios.fail
              | 1.17
            span.color-text.color-text-100
              | Sample
          li.bc-yellow
            span.color-name
              | yellow-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.fail
              | 1.63
            span.color-text.color-text-500
              | Sample
          li.bc-yellow
            span.color-name
              | yellow-900
            span.color-bg.color-900
              | Sample
            span.contrast-ratios.fail
              | 2.07
            span.color-text.color-text-900
              | Sample
          li.bc-red
            span.color-name
              | red-100
            span.color-bg.color-100
              | Sample
            span.contrast-ratios.fail
              | 1.56
            span.color-text.color-text-100
              | Sample
          li.bc-red
            span.color-name
              | red-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.pass
              | 4.52
            span.color-text.color-text-500
              | Sample
          li.bc-red
            span.color-name
              | red-900
            span.color-bg.color-900
              | Sample
            span.contrast-ratios.pass
              | 5.98
            span.color-text.color-text-900
              | Sample
          li.bc-blue
            span.color-name
              | blue-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.pass
              | 5.59
            span.color-text.color-text-500
              | Sample
          li.bc-persimmon
            span.color-name
              | persimmon-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.fail
              | 2.57
            span.color-text.color-text-500
              | Sample
          li.bc-gray
            span.color-name
              | gray-50
            span.color-bg.color-50
              | Sample
            span.contrast-ratios.fail
              | 1.11
            span.color-text.color-text-50
              | Sample
          li.bc-gray
            span.color-name
              | gray-100
            span.color-bg.color-100
              | Sample
            span.contrast-ratios.fail
              | 1.32
            span.color-text.color-text-100
              | Sample
          li.bc-gray
            span.color-name
              | gray-300
            span.color-bg.color-300
              | Sample
            span.contrast-ratios.fail
              | 2.06
            span.color-text.color-text-300
              | Sample
          li.bc-gray
            span.color-name
              | gray-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.fail
              | 3.01
            span.color-text.color-text-500
              | Sample
          li.bc-gray
            span.color-name
              | gray-700
            span.color-bg.color-700
              | Sample
            span.contrast-ratios.pass
              | 4.6
            span.color-text.color-text-700
              | Sample
          li.bc-gray
            span.color-name
              | gray-900
            span.color-bg.color-900
              | Sample
            span.contrast-ratios.pass
              | 5.77
            span.color-text.color-text-900
              | Sample
          li.bc-gray
            span.color-name
              | gray-1000
            span.color-bg.color-1000
              | Sample
            span.contrast-ratios.pass
              | 17.72
            span.color-text.color-text-1000
              | Sample
      .col-md-6
        ul.no-list-style.contrast-table.contrast-table-dark
          li.contrast-table-heading
            | All colors against gray-1000
          li.contrast-table-subheading
            span
            span
              strong
                | Background
            span.contrast-ratios
            span
              strong
                | Text color
          li.bc-green
            span.color-name
              | green-100
            span.color-bg.color-100
              | Sample
            span.contrast-ratios.pass
              | 15.79
            span.color-text.color-text-100
              | Sample
          li.bc-green
            span.color-name
              | green-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.pass
              | 7.1
            span.color-text.color-text-500
              | Sample
          li.bc-green
            span.color-name
              | green-900
            span.color-bg.color-900
              | Sample
            span.contrast-ratios.fail
              | 3.43
            span.color-text.color-text-900
              | Sample
          li.bc-pine
            span.color-name
              | pine-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.fail
              | 1.27
            span.color-text.color-text-500
              | Sample
          li.bc-cerulean
            span.color-name
              | cerulean-100
            span.color-bg.color-100
              | Sample
            span.contrast-ratios.pass
              | 13.32
            span.color-text.color-text-100
              | Sample
          li.bc-cerulean
            span.color-name
              | cerulean-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.pass
              | 7.14
            span.color-text.color-text-500
              | Sample
          li.bc-cerulean
            span.color-name
              | cerulean-900
            span.color-bg.color-900
              | Sample
            span.contrast-ratios.pass
              | 4.67
            span.color-text.color-text-900
              | Sample
          li.bc-yellow
            span.color-name
              | yellow-100
            span.color-bg.color-100
              | Sample
            span.contrast-ratios.pass
              | 15.12
            span.color-text.color-text-100
              | Sample
          li.bc-yellow
            span.color-name
              | yellow-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.pass
              | 10.87
            span.color-text.color-text-500
              | Sample
          li.bc-yellow
            span.color-name
              | yellow-900
            span.color-bg.color-900
              | Sample
            span.contrast-ratios.pass
              | 8.56
            span.color-text.color-text-900
              | Sample
          li.bc-red
            span.color-name
              | red-100
            span.color-bg.color-100
              | Sample
            span.contrast-ratios.pass
              | 11.33
            span.color-text.color-text-100
              | Sample
          li.bc-red
            span.color-name
              | red-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.fail
              | 3.91
            span.color-text.color-text-500
              | Sample
          li.bc-red
            span.color-name
              | red-900
            span.color-bg.color-900
              | Sample
            span.contrast-ratios.fail
              | 2.96
            span.color-text.color-text-900
              | Sample
          li.bc-blue
            span.color-name
              | blue-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.fail
              | 3.17
            span.color-text.color-text-500
              | Sample
          li.bc-persimmon
            span.color-name
              | persimmon-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.pass
              | 6.89
            span.color-text.color-text-500
              | Sample
          li.bc-gray
            span.color-name
              | gray-50
            span.color-bg.color-50
              | Sample
            span.contrast-ratios.pass
              | 15.83
            span.color-text.color-text-50
              | Sample
          li.bc-gray
            span.color-name
              | gray-100
            span.color-bg.color-100
              | Sample
            span.contrast-ratios.pass
              | 13.32
            span.color-text.color-text-100
              | Sample
          li.bc-gray
            span.color-name
              | gray-300
            span.color-bg.color-300
              | Sample
            span.contrast-ratios.pass
              | 8.59
            span.color-text.color-text-300
              | Sample
          li.bc-gray
            span.color-name
              | gray-500
            span.color-bg.color-500
              | Sample
            span.contrast-ratios.pass
              | 5.87
            span.color-text.color-text-500
              | Sample
          li.bc-gray
            span.color-name
              | gray-700
            span.color-bg.color-700
              | Sample
            span.contrast-ratios.fail
              | 3.84
            span.color-text.color-text-700
              | Sample
          li.bc-gray
            span.color-name
              | gray-900
            span.color-bg.color-900
              | Sample
            span.contrast-ratios.fail
              | 3.07
            span.color-text.color-text-900
              | Sample
